/* first glance, there are three flex containers arrangened in a column: the header, content, and footer. The header/footer will have zero grow.

the header and footer will each have another flex container inside, seperating the buttons, and are spaced between*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}

.footer {
  background-color: #eeeeee;
}

ul {
  padding: 0;
}

li {
  display: inline-block;
  padding: 0px 5px;
  list-style-type: none;
}

a {
  color:#757575;
  text-decoration: none;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 15px;
}

input {
  margin: 20px 0;
}