/* Add CSS Styling */
.odd {
  background-color:rgb(255, 157, 144);
  font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second-element {
  color:rgb(37, 37, 255);
  font-size: 36px;
}

.third-element {
  font-size: 24px;
}

#fourth-element {
  background-color: #72ffa1;
  font-size: 24px;
  font-weight: bold;
}